html {
    height: 100%;
}
:not(i) {
    font-family: Helvetica;
}
body {
    height: 100%;
    margin: 0px;
    background-color: black;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#sorting {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
}
.block {
    background-color: #FFF;
}
p {
    color: #FFF;
    margin: 0px;
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #88888888;
    padding: 10px;
}
